* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    opacity: 0.5;
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 40px; right: 40px;
    background-color: #662C91;
    font-size: 1em;
    margin-top: 15px;
    padding: 8px 15px;
    text-decoration: none;
}

.logo:hover {
    opacity: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #17A398;
    min-height: 100vh;
}

.container {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 450px;
    height: 600px;
    background: #662C91;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    overflow: hidden;
}

*:hover .container .card {
    opacity: 0.2;
}

.container .card:hover {
    opacity: 1;
}

.container .card::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.container .card .content {
    padding: 30px;
    text-align: center;
}

.container .card .content h2 {
    position: absolute;
    right: 30px;
    font-size: 4em;
    font-weight: 800;
    color: #93B4DB;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.container .card:hover .content h2 {
    opacity: 1;
    transform: translateY(-70px);
}

.container .card .content h3 {
    position: relative;
    font-size: 1.5em;
    color: white;
    z-index: 2;
    opacity: 0.5;
    Letter-spacing: 1px;
    transition: 0.5s;
}

.container .card .content p {
    position: relative;
    font-size: 1em;
    color: white;
    z-index: 2;
    opacity: 0.5;
    font-weight: 300;
    Letter-spacing: 1px;
    transition: 0.5s;
}

.container .card:hover .content h3,
.container .card:hover .content p {
    opacity: 1;

}

.container .card .content a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #17A398;
    color: #33312E;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.container .card span {
    transition: 0.5;
    opacity: 0;
}

.container .card:hover span {
    opacity: 1;
}

.container .card span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #F38D68);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 
{
    0% {
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.container .card span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #F38D68);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 
{
    0% {
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.container .card span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #F38D68);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 
{
    0% {
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.container .card span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #F38D68);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 
{
    0% {
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

